body
{
	margin: 0px;
	padding: 0px;
}


text {
}

.enter {
  fill: green;
}

.update {
  fill: #333;
}

.svg-logo
{
	fill: red;
	font-family: monospace;
	font-weight: 700;
}

.svg-slogan
{
	fill: black;
	font-family: monospace;
	font-weight: 700;
}

.svg-menu-mask:hover
{
	fill: rgba(0,0,0,0.15);
	cursor: pointer;
}