body
{
	margin: 0px;
	padding: 0px;
}


text {
}

.enter {
  fill: green;
}

.update {
  fill: #333;
}

.svg-logo
{
	fill: red;
	font-family: monospace;
	font-weight: 700;
}

.svg-slogan
{
	fill: black;
	font-family: monospace;
	font-weight: 700;
}

.svg-menu-mask:hover
{
	fill: rgba(0,0,0,0.15);
	cursor: pointer;
}

.svg-menu-text
{
	font-family: monospace;
}

.svg-contents
{
	overflow: auto;
	width: 100%;
	height: 100%;
}

    .background {
        fill: none;
        pointer-events: all;
    }

    .node circle {
        cursor: pointer;
        stroke: #3182bd;
        stroke-width: 1.5px;
    }

    .node text {
        font: 10px sans-serif;
        pointer-events: none;
        text-anchor: middle;
    }

    line.link {
        fill: none;
        stroke: #9ecae1;
        stroke-width: 1.5px;
    }