body
{
	margin: 0px;
	padding: 0px;
}


text {
  font: 16px;
}

.enter {
  fill: green;
}

.update {
  fill: #333;
}

.svg-logo
{
	fill: red;
	font-family: monospace;
	font-weight: 700;
}

.svg-slogan
{
	fill: black;
	font-family: monospace;
	font-weight: 700;
}