body
{
	margin: 0px;
	padding: 0px;
}


text {
  font: 16px;
}

.enter {
  fill: green;
}

.update {
  fill: #333;
}

.svg-logo
{
	fill: red;
	font: bold 48px monospace;
}

.svg-slogan
{
	fill: black;
	font: bold 16px monospace;
}